.menu {
  /* display: flex; */

  @media screen and (max-width: 767px) {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* justify-content: center; */
    /* align-items: center; */
    padding: 100px 0;
    /* background-image: linear-gradient(to bottom,
        #ffffff,
        #F4E3E9); */
    /* background-color: #ffffff; */
    transform: translateX(103%);
    visibility: hidden;
    transition: transform linear 500ms, visibility linear 0ms 500ms;
    z-index: 999;
  }

   @media screen and (min-width: 768px) { 
    display:  none;
    /* flex-grow: 1;
    justify-content: center; */
  } 
}

.openMobileMenu {   
  visibility: visible;

    /* @media screen and (max-width: 767px) {  */
      transform: translateX(0%);
      transition: transform linear 500ms, visibility 0ms;
    /* } */
  }