.title {
  font-size: 40px;
  line-height: 1.2;
  color: #e43071;
}

.titleAccentFirst {
  font-size: 42px;
  color: #ffffff;
  text-shadow: 0px 0px 60px rgba(0, 0, 0, 0.46);

  @media screen and (min-width: 768px) {
    font-size: 50px;
  }

  @media screen and (min-width: 1440px) {
    font-size: 60px;
  }
}

.titleAccentSeccond {
  color: #ffffff;
}

.titleSeccond {
  font-size: 38px;
  font-weight: 600;
}

/* .titleThird {
  font-size: 48;
  font-weight: 600;
  color: #424242;
} */
