.footer {
  padding: 40px 0 30px;
  font-family: var(--font-manrope);
  background-color: #0b0d17;
  color: #d9dbe1;
}

.mainContentWrapp {
margin-bottom: 35px;

  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
  }
}

.logo {
  color: #ffffff;
  font-family: var(--font-poppins);
  font-size: 26px;
  line-height: 1.1;
  font-weight: 800;
}

.logoAccent {
  color: #e43071;
}

.text {
  margin: 25px 0;
  font-size: 14px;
  line-height: 1.7;
    @media screen and (min-width: 768px) {
    width: 230px;
      }
}

.socialList {
  display: flex;
  gap: 15px;
}

.reachWrapp {

    @media screen and (max-width: 767px) {
    margin-top: 40px;
      }
}

.reach {
  margin-bottom: 25px;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.5;
  color: #ffffff;
}

.addressItem:not(:last-child) {
  margin-bottom: 25px;
}

.addressIconWrapp {
  display: flex;
  align-items: center;
  gap: 10px;
}

.addressText {
  width: 200px;
}

.downloadWrapp {
@media screen and (min-width: 768px) {
 display: flex;
 flex-direction: row-reverse;
 justify-content: space-between;
  }
}

.downloadList {
  display: flex;
  justify-content: center;
  gap: 9px;
  margin-bottom: 15px;
}

.downloadItem:not(:last-child)::after {
  content: "";
  display: inline-block;
  box-sizing: border-box;
  margin-left: 9px;
  width: 2px;
  height: 12px;
  background-color: #d9dbe1;
}

.copyringSign {
  text-align: center;
  font-size: 14px;
  line-height: 1.7;
}
